/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

/* Table Styles */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Button Styles */
a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #007BFF;
    color: #fff;
}

a:visited {
    color: #0056b3;
}

a:active {
    background-color: #0056b3;
    color: #fff;
}

a.confirm {
    color: #dc3545;
    border-color: #dc3545;
}

a.confirm:hover {
    background-color: #dc3545;
    color: #fff;
}

a.add-new {
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a.add-new:hover {
    background-color: #218838;
}